	<div id="page_wrapper">
		<table class="log_table" border='2'>
			<tr>
				<th>Name</th><th>Phone</th><th>Updated</td>
			</tr>
		<% @calls.each do |call| %>
			<tr>
				<td><%= link_to call.name, call %></td>
				<td><%= call.phone %></td>
				<td><%= call.updated_at.strftime("%b %d, %Y") %>
			</tr>
			
		<% end %>
		</table>
	</div>