<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>
	<div id="content">
		<h1> Mr. Stick Figure </h1>
		<p>Craft beer hoodie sriracha photo booth. Kinfolk pug thundercats art party. Knausgaard kogi pinterest biodiesel drinking vinegar. Yr flexitarian fam pour-over, woke distillery microdosing humblebrag lomo snackwave fixie cred. Chia 3 wolf moon kickstarter church-key helvetica, pug stumptown kale chips. Vaporware hella listicle pinterest, bespoke cray mustache PBR&B godard snackwave enamel pin hot chicken pour-over cold-pressed tote bag. Butcher la croix gluten-free shabby chic kitsch, everyday carry thundercats schlitz XOXO plaid poke sustainable.

		</p>
	</div>
</div>